@{
/**Author: Irin Avery
 *Student Number: 200260949
* Date Modified: Aug 18 2016
* Short Version History: Scaffolded the Index view for the About Page
* Description: About our company
*/
}

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
